{{> top }}
{{!-- {{ bodyMessage }}
{{ grupo }} --}}




<div class="box box-widget widget-user">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center;">
    <h3 class="widget-user-username">{{grupoName}}</h3>
    <h5 class="widget-user-desc">{{grupoLocation}}</h5>
  </div>
  <div class="widget-user-image">
    <img class="img-circle" src="/assets/img/talent_icon.png" alt="User Avatar">
  </div>
  <div class="box-footer">
    <div class="row">
      
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header">${{recaudado}} MXN</h5>
          <span class="description-text">COLLECTED</span>
        </div>
        <!-- /.description-block -->
      </div>

       <div class="col-sm-4 border-right">
        <div class="description-block">
          <h5 class="description-header">{{address}}</h5>
          <span class="description-text">ADDRESS</span>
        </div>
        <!-- /.description-block -->
      </div>

      <div class="col-sm-4">
        <div class="description-block">
          <h5 class="description-header">5634</h5>
          <span class="description-text">PARTICIPANTS</span>
        </div>
        <!-- /.description-block -->
      </div>

    </div>
    {{!-- <div class="row">
      <div class="col-sm-12 border-right">
        <div class="description-block">
          <h5 class="description-header">{{address}}</h5>
          <span class="description-text">ADDRESS</span>
        </div>
        <!-- /.description-block -->
      </div>
    </div> --}}
    <!-- /.row -->
  </div>
</div>
{{> btm }}
